BLL/Service References/WsKormerciProd/cap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ecommerce.redecard.com.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ecommerce.redecard.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ecommerce.redecard.com.br">
      <s:element name="VoidPreAuthorization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Distribuidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumAutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumCV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Concentrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidPreAuthorizationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VoidPreAuthorizationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidDebtTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumCV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumAutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Concentrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidDebtTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VoidDebtTransactionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumCV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumAutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Concentrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VoidTransactionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidTransactionDistr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumCV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumAutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Concentrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Distribuidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidTransactionDistrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VoidTransactionDistrResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidConfPreAuthorization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumAutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumCV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Concentrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidConfPreAuthorizationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VoidConfPreAuthorizationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorized_AD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parcelas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumPedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nrcartao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVC2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ano" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Portador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IATA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Distribuidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Concentrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TaxaEmbarque" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Entrada" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Add_Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorized_ADResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorized_ADResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorized">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parcelas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumPedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nrcartao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVC2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ano" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Portador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IATA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Distribuidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Concentrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TaxaEmbarque" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Entrada" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConfTxn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Add_Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorizedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorizedResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorizedAVS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parcelas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumPedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nrcartao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVC2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ano" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Portador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Num1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cep1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cep2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IATA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Distribuidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Concentrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TaxaEmbarque" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Entrada" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc4" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorizedAVSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorizedAVSResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReversalTxn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Distribuidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumAutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumSqn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumPedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parcelas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReversalTxnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReversalTxnResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesSumm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesSummResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalesSummResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmTxn_AD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumSqn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumCV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumAutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parcelas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransOrig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Distribuidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumPedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cod_Banco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Origem_Bin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmTxn_ADResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmTxn_ADResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmTxn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumSqn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumCV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumAutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parcelas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransOrig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Distribuidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumPedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pax4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numdoc4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmTxnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmTxnResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CouncilReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Distribuidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data_Inicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data_Final" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo_Trx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Status_Trx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Servico_AVS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Programa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CouncilReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CouncilReportResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfPreAuthorization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Distribuidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parcelas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumAutor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumCV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Concentrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfPreAuthorizationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfPreAuthorizationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsFornDistrib">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Filiacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsFornDistribResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsFornDistribResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VoidPreAuthorizationSoapIn">
    <wsdl:part name="parameters" element="tns:VoidPreAuthorization" />
  </wsdl:message>
  <wsdl:message name="VoidPreAuthorizationSoapOut">
    <wsdl:part name="parameters" element="tns:VoidPreAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="VoidDebtTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:VoidDebtTransaction" />
  </wsdl:message>
  <wsdl:message name="VoidDebtTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:VoidDebtTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:VoidTransaction" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:VoidTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionDistrSoapIn">
    <wsdl:part name="parameters" element="tns:VoidTransactionDistr" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionDistrSoapOut">
    <wsdl:part name="parameters" element="tns:VoidTransactionDistrResponse" />
  </wsdl:message>
  <wsdl:message name="VoidConfPreAuthorizationSoapIn">
    <wsdl:part name="parameters" element="tns:VoidConfPreAuthorization" />
  </wsdl:message>
  <wsdl:message name="VoidConfPreAuthorizationSoapOut">
    <wsdl:part name="parameters" element="tns:VoidConfPreAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthorized_ADSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthorized_AD" />
  </wsdl:message>
  <wsdl:message name="GetAuthorized_ADSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorized_ADResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthorized" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorizedResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedAVSSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthorizedAVS" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedAVSSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorizedAVSResponse" />
  </wsdl:message>
  <wsdl:message name="ReversalTxnSoapIn">
    <wsdl:part name="parameters" element="tns:ReversalTxn" />
  </wsdl:message>
  <wsdl:message name="ReversalTxnSoapOut">
    <wsdl:part name="parameters" element="tns:ReversalTxnResponse" />
  </wsdl:message>
  <wsdl:message name="SalesSummSoapIn">
    <wsdl:part name="parameters" element="tns:SalesSumm" />
  </wsdl:message>
  <wsdl:message name="SalesSummSoapOut">
    <wsdl:part name="parameters" element="tns:SalesSummResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxn_ADSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmTxn_AD" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxn_ADSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmTxn_ADResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxnSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmTxn" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxnSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmTxnResponse" />
  </wsdl:message>
  <wsdl:message name="CouncilReportSoapIn">
    <wsdl:part name="parameters" element="tns:CouncilReport" />
  </wsdl:message>
  <wsdl:message name="CouncilReportSoapOut">
    <wsdl:part name="parameters" element="tns:CouncilReportResponse" />
  </wsdl:message>
  <wsdl:message name="ConfPreAuthorizationSoapIn">
    <wsdl:part name="parameters" element="tns:ConfPreAuthorization" />
  </wsdl:message>
  <wsdl:message name="ConfPreAuthorizationSoapOut">
    <wsdl:part name="parameters" element="tns:ConfPreAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="ConsFornDistribSoapIn">
    <wsdl:part name="parameters" element="tns:ConsFornDistrib" />
  </wsdl:message>
  <wsdl:message name="ConsFornDistribSoapOut">
    <wsdl:part name="parameters" element="tns:ConsFornDistribResponse" />
  </wsdl:message>
  <wsdl:message name="VoidPreAuthorizationHttpGetIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidPreAuthorizationHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="VoidDebtTransactionHttpGetIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidDebtTransactionHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionHttpGetIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionDistrHttpGetIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionDistrHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="VoidConfPreAuthorizationHttpGetIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidConfPreAuthorizationHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAuthorized_ADHttpGetIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Transacao" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Nrcartao" type="s:string" />
    <wsdl:part name="CVC2" type="s:string" />
    <wsdl:part name="Mes" type="s:string" />
    <wsdl:part name="Ano" type="s:string" />
    <wsdl:part name="Portador" type="s:string" />
    <wsdl:part name="IATA" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="TaxaEmbarque" type="s:string" />
    <wsdl:part name="Entrada" type="s:string" />
    <wsdl:part name="Pax1" type="s:string" />
    <wsdl:part name="Pax2" type="s:string" />
    <wsdl:part name="Pax3" type="s:string" />
    <wsdl:part name="Pax4" type="s:string" />
    <wsdl:part name="Numdoc1" type="s:string" />
    <wsdl:part name="Numdoc2" type="s:string" />
    <wsdl:part name="Numdoc3" type="s:string" />
    <wsdl:part name="Numdoc4" type="s:string" />
    <wsdl:part name="Add_Data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuthorized_ADHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedHttpGetIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Transacao" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Nrcartao" type="s:string" />
    <wsdl:part name="CVC2" type="s:string" />
    <wsdl:part name="Mes" type="s:string" />
    <wsdl:part name="Ano" type="s:string" />
    <wsdl:part name="Portador" type="s:string" />
    <wsdl:part name="IATA" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="TaxaEmbarque" type="s:string" />
    <wsdl:part name="Entrada" type="s:string" />
    <wsdl:part name="Pax1" type="s:string" />
    <wsdl:part name="Pax2" type="s:string" />
    <wsdl:part name="Pax3" type="s:string" />
    <wsdl:part name="Pax4" type="s:string" />
    <wsdl:part name="Numdoc1" type="s:string" />
    <wsdl:part name="Numdoc2" type="s:string" />
    <wsdl:part name="Numdoc3" type="s:string" />
    <wsdl:part name="Numdoc4" type="s:string" />
    <wsdl:part name="ConfTxn" type="s:string" />
    <wsdl:part name="Add_Data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedAVSHttpGetIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Transacao" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Nrcartao" type="s:string" />
    <wsdl:part name="CVC2" type="s:string" />
    <wsdl:part name="Mes" type="s:string" />
    <wsdl:part name="Ano" type="s:string" />
    <wsdl:part name="Portador" type="s:string" />
    <wsdl:part name="CPF" type="s:string" />
    <wsdl:part name="Endereco" type="s:string" />
    <wsdl:part name="Num1" type="s:string" />
    <wsdl:part name="Complemento" type="s:string" />
    <wsdl:part name="Cep1" type="s:string" />
    <wsdl:part name="Cep2" type="s:string" />
    <wsdl:part name="IATA" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="TaxaEmbarque" type="s:string" />
    <wsdl:part name="Entrada" type="s:string" />
    <wsdl:part name="Pax1" type="s:string" />
    <wsdl:part name="Pax2" type="s:string" />
    <wsdl:part name="Pax3" type="s:string" />
    <wsdl:part name="Pax4" type="s:string" />
    <wsdl:part name="Numdoc1" type="s:string" />
    <wsdl:part name="Numdoc2" type="s:string" />
    <wsdl:part name="Numdoc3" type="s:string" />
    <wsdl:part name="Numdoc4" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedAVSHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ReversalTxnHttpGetIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="NumSqn" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReversalTxnHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SalesSummHttpGetIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SalesSummHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxn_ADHttpGetIn">
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumSqn" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="TransOrig" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Pax1" type="s:string" />
    <wsdl:part name="Pax2" type="s:string" />
    <wsdl:part name="Pax3" type="s:string" />
    <wsdl:part name="Pax4" type="s:string" />
    <wsdl:part name="Numdoc1" type="s:string" />
    <wsdl:part name="Numdoc2" type="s:string" />
    <wsdl:part name="Numdoc3" type="s:string" />
    <wsdl:part name="Numdoc4" type="s:string" />
    <wsdl:part name="Cod_Banco" type="s:string" />
    <wsdl:part name="Origem_Bin" type="s:string" />
    <wsdl:part name="AddData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxn_ADHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxnHttpGetIn">
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumSqn" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="TransOrig" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Pax1" type="s:string" />
    <wsdl:part name="Pax2" type="s:string" />
    <wsdl:part name="Pax3" type="s:string" />
    <wsdl:part name="Pax4" type="s:string" />
    <wsdl:part name="Numdoc1" type="s:string" />
    <wsdl:part name="Numdoc2" type="s:string" />
    <wsdl:part name="Numdoc3" type="s:string" />
    <wsdl:part name="Numdoc4" type="s:string" />
    <wsdl:part name="AddData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxnHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="CouncilReportHttpGetIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Data_Inicial" type="s:string" />
    <wsdl:part name="Data_Final" type="s:string" />
    <wsdl:part name="Tipo_Trx" type="s:string" />
    <wsdl:part name="Status_Trx" type="s:string" />
    <wsdl:part name="Servico_AVS" type="s:string" />
    <wsdl:part name="Programa" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CouncilReportHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ConfPreAuthorizationHttpGetIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfPreAuthorizationHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ConsFornDistribHttpGetIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsFornDistribHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="VoidPreAuthorizationHttpPostIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidPreAuthorizationHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="VoidDebtTransactionHttpPostIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidDebtTransactionHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionHttpPostIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionDistrHttpPostIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidTransactionDistrHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="VoidConfPreAuthorizationHttpPostIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VoidConfPreAuthorizationHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAuthorized_ADHttpPostIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Transacao" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Nrcartao" type="s:string" />
    <wsdl:part name="CVC2" type="s:string" />
    <wsdl:part name="Mes" type="s:string" />
    <wsdl:part name="Ano" type="s:string" />
    <wsdl:part name="Portador" type="s:string" />
    <wsdl:part name="IATA" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="TaxaEmbarque" type="s:string" />
    <wsdl:part name="Entrada" type="s:string" />
    <wsdl:part name="Pax1" type="s:string" />
    <wsdl:part name="Pax2" type="s:string" />
    <wsdl:part name="Pax3" type="s:string" />
    <wsdl:part name="Pax4" type="s:string" />
    <wsdl:part name="Numdoc1" type="s:string" />
    <wsdl:part name="Numdoc2" type="s:string" />
    <wsdl:part name="Numdoc3" type="s:string" />
    <wsdl:part name="Numdoc4" type="s:string" />
    <wsdl:part name="Add_Data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuthorized_ADHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedHttpPostIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Transacao" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Nrcartao" type="s:string" />
    <wsdl:part name="CVC2" type="s:string" />
    <wsdl:part name="Mes" type="s:string" />
    <wsdl:part name="Ano" type="s:string" />
    <wsdl:part name="Portador" type="s:string" />
    <wsdl:part name="IATA" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="TaxaEmbarque" type="s:string" />
    <wsdl:part name="Entrada" type="s:string" />
    <wsdl:part name="Pax1" type="s:string" />
    <wsdl:part name="Pax2" type="s:string" />
    <wsdl:part name="Pax3" type="s:string" />
    <wsdl:part name="Pax4" type="s:string" />
    <wsdl:part name="Numdoc1" type="s:string" />
    <wsdl:part name="Numdoc2" type="s:string" />
    <wsdl:part name="Numdoc3" type="s:string" />
    <wsdl:part name="Numdoc4" type="s:string" />
    <wsdl:part name="ConfTxn" type="s:string" />
    <wsdl:part name="Add_Data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedAVSHttpPostIn">
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Transacao" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Nrcartao" type="s:string" />
    <wsdl:part name="CVC2" type="s:string" />
    <wsdl:part name="Mes" type="s:string" />
    <wsdl:part name="Ano" type="s:string" />
    <wsdl:part name="Portador" type="s:string" />
    <wsdl:part name="CPF" type="s:string" />
    <wsdl:part name="Endereco" type="s:string" />
    <wsdl:part name="Num1" type="s:string" />
    <wsdl:part name="Complemento" type="s:string" />
    <wsdl:part name="Cep1" type="s:string" />
    <wsdl:part name="Cep2" type="s:string" />
    <wsdl:part name="IATA" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="TaxaEmbarque" type="s:string" />
    <wsdl:part name="Entrada" type="s:string" />
    <wsdl:part name="Pax1" type="s:string" />
    <wsdl:part name="Pax2" type="s:string" />
    <wsdl:part name="Pax3" type="s:string" />
    <wsdl:part name="Pax4" type="s:string" />
    <wsdl:part name="Numdoc1" type="s:string" />
    <wsdl:part name="Numdoc2" type="s:string" />
    <wsdl:part name="Numdoc3" type="s:string" />
    <wsdl:part name="Numdoc4" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedAVSHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ReversalTxnHttpPostIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="NumSqn" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReversalTxnHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SalesSummHttpPostIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SalesSummHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxn_ADHttpPostIn">
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumSqn" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="TransOrig" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Pax1" type="s:string" />
    <wsdl:part name="Pax2" type="s:string" />
    <wsdl:part name="Pax3" type="s:string" />
    <wsdl:part name="Pax4" type="s:string" />
    <wsdl:part name="Numdoc1" type="s:string" />
    <wsdl:part name="Numdoc2" type="s:string" />
    <wsdl:part name="Numdoc3" type="s:string" />
    <wsdl:part name="Numdoc4" type="s:string" />
    <wsdl:part name="Cod_Banco" type="s:string" />
    <wsdl:part name="Origem_Bin" type="s:string" />
    <wsdl:part name="AddData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxn_ADHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxnHttpPostIn">
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumSqn" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="TransOrig" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="NumPedido" type="s:string" />
    <wsdl:part name="Pax1" type="s:string" />
    <wsdl:part name="Pax2" type="s:string" />
    <wsdl:part name="Pax3" type="s:string" />
    <wsdl:part name="Pax4" type="s:string" />
    <wsdl:part name="Numdoc1" type="s:string" />
    <wsdl:part name="Numdoc2" type="s:string" />
    <wsdl:part name="Numdoc3" type="s:string" />
    <wsdl:part name="Numdoc4" type="s:string" />
    <wsdl:part name="AddData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmTxnHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="CouncilReportHttpPostIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Data_Inicial" type="s:string" />
    <wsdl:part name="Data_Final" type="s:string" />
    <wsdl:part name="Tipo_Trx" type="s:string" />
    <wsdl:part name="Status_Trx" type="s:string" />
    <wsdl:part name="Servico_AVS" type="s:string" />
    <wsdl:part name="Programa" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CouncilReportHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ConfPreAuthorizationHttpPostIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Distribuidor" type="s:string" />
    <wsdl:part name="Total" type="s:string" />
    <wsdl:part name="Parcelas" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="NumAutor" type="s:string" />
    <wsdl:part name="NumCV" type="s:string" />
    <wsdl:part name="Concentrador" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfPreAuthorizationHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ConsFornDistribHttpPostIn">
    <wsdl:part name="Filiacao" type="s:string" />
    <wsdl:part name="Usr" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsFornDistribHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="komerci_captureSoap">
    <wsdl:operation name="VoidPreAuthorization">
      <wsdl:input message="tns:VoidPreAuthorizationSoapIn" />
      <wsdl:output message="tns:VoidPreAuthorizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidDebtTransaction">
      <wsdl:input message="tns:VoidDebtTransactionSoapIn" />
      <wsdl:output message="tns:VoidDebtTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <wsdl:input message="tns:VoidTransactionSoapIn" />
      <wsdl:output message="tns:VoidTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidTransactionDistr">
      <wsdl:input message="tns:VoidTransactionDistrSoapIn" />
      <wsdl:output message="tns:VoidTransactionDistrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidConfPreAuthorization">
      <wsdl:input message="tns:VoidConfPreAuthorizationSoapIn" />
      <wsdl:output message="tns:VoidConfPreAuthorizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized_AD">
      <wsdl:input message="tns:GetAuthorized_ADSoapIn" />
      <wsdl:output message="tns:GetAuthorized_ADSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized">
      <wsdl:input message="tns:GetAuthorizedSoapIn" />
      <wsdl:output message="tns:GetAuthorizedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedAVS">
      <wsdl:input message="tns:GetAuthorizedAVSSoapIn" />
      <wsdl:output message="tns:GetAuthorizedAVSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReversalTxn">
      <wsdl:input message="tns:ReversalTxnSoapIn" />
      <wsdl:output message="tns:ReversalTxnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalesSumm">
      <wsdl:input message="tns:SalesSummSoapIn" />
      <wsdl:output message="tns:SalesSummSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn_AD">
      <wsdl:input message="tns:ConfirmTxn_ADSoapIn" />
      <wsdl:output message="tns:ConfirmTxn_ADSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn">
      <wsdl:input message="tns:ConfirmTxnSoapIn" />
      <wsdl:output message="tns:ConfirmTxnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CouncilReport">
      <wsdl:input message="tns:CouncilReportSoapIn" />
      <wsdl:output message="tns:CouncilReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfPreAuthorization">
      <wsdl:input message="tns:ConfPreAuthorizationSoapIn" />
      <wsdl:output message="tns:ConfPreAuthorizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsFornDistrib">
      <wsdl:input message="tns:ConsFornDistribSoapIn" />
      <wsdl:output message="tns:ConsFornDistribSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="komerci_captureHttpGet">
    <wsdl:operation name="VoidPreAuthorization">
      <wsdl:input message="tns:VoidPreAuthorizationHttpGetIn" />
      <wsdl:output message="tns:VoidPreAuthorizationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidDebtTransaction">
      <wsdl:input message="tns:VoidDebtTransactionHttpGetIn" />
      <wsdl:output message="tns:VoidDebtTransactionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <wsdl:input message="tns:VoidTransactionHttpGetIn" />
      <wsdl:output message="tns:VoidTransactionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidTransactionDistr">
      <wsdl:input message="tns:VoidTransactionDistrHttpGetIn" />
      <wsdl:output message="tns:VoidTransactionDistrHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidConfPreAuthorization">
      <wsdl:input message="tns:VoidConfPreAuthorizationHttpGetIn" />
      <wsdl:output message="tns:VoidConfPreAuthorizationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized_AD">
      <wsdl:input message="tns:GetAuthorized_ADHttpGetIn" />
      <wsdl:output message="tns:GetAuthorized_ADHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized">
      <wsdl:input message="tns:GetAuthorizedHttpGetIn" />
      <wsdl:output message="tns:GetAuthorizedHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedAVS">
      <wsdl:input message="tns:GetAuthorizedAVSHttpGetIn" />
      <wsdl:output message="tns:GetAuthorizedAVSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReversalTxn">
      <wsdl:input message="tns:ReversalTxnHttpGetIn" />
      <wsdl:output message="tns:ReversalTxnHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SalesSumm">
      <wsdl:input message="tns:SalesSummHttpGetIn" />
      <wsdl:output message="tns:SalesSummHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn_AD">
      <wsdl:input message="tns:ConfirmTxn_ADHttpGetIn" />
      <wsdl:output message="tns:ConfirmTxn_ADHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn">
      <wsdl:input message="tns:ConfirmTxnHttpGetIn" />
      <wsdl:output message="tns:ConfirmTxnHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CouncilReport">
      <wsdl:input message="tns:CouncilReportHttpGetIn" />
      <wsdl:output message="tns:CouncilReportHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfPreAuthorization">
      <wsdl:input message="tns:ConfPreAuthorizationHttpGetIn" />
      <wsdl:output message="tns:ConfPreAuthorizationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsFornDistrib">
      <wsdl:input message="tns:ConsFornDistribHttpGetIn" />
      <wsdl:output message="tns:ConsFornDistribHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="komerci_captureHttpPost">
    <wsdl:operation name="VoidPreAuthorization">
      <wsdl:input message="tns:VoidPreAuthorizationHttpPostIn" />
      <wsdl:output message="tns:VoidPreAuthorizationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidDebtTransaction">
      <wsdl:input message="tns:VoidDebtTransactionHttpPostIn" />
      <wsdl:output message="tns:VoidDebtTransactionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <wsdl:input message="tns:VoidTransactionHttpPostIn" />
      <wsdl:output message="tns:VoidTransactionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidTransactionDistr">
      <wsdl:input message="tns:VoidTransactionDistrHttpPostIn" />
      <wsdl:output message="tns:VoidTransactionDistrHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidConfPreAuthorization">
      <wsdl:input message="tns:VoidConfPreAuthorizationHttpPostIn" />
      <wsdl:output message="tns:VoidConfPreAuthorizationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized_AD">
      <wsdl:input message="tns:GetAuthorized_ADHttpPostIn" />
      <wsdl:output message="tns:GetAuthorized_ADHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized">
      <wsdl:input message="tns:GetAuthorizedHttpPostIn" />
      <wsdl:output message="tns:GetAuthorizedHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedAVS">
      <wsdl:input message="tns:GetAuthorizedAVSHttpPostIn" />
      <wsdl:output message="tns:GetAuthorizedAVSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReversalTxn">
      <wsdl:input message="tns:ReversalTxnHttpPostIn" />
      <wsdl:output message="tns:ReversalTxnHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SalesSumm">
      <wsdl:input message="tns:SalesSummHttpPostIn" />
      <wsdl:output message="tns:SalesSummHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn_AD">
      <wsdl:input message="tns:ConfirmTxn_ADHttpPostIn" />
      <wsdl:output message="tns:ConfirmTxn_ADHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn">
      <wsdl:input message="tns:ConfirmTxnHttpPostIn" />
      <wsdl:output message="tns:ConfirmTxnHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CouncilReport">
      <wsdl:input message="tns:CouncilReportHttpPostIn" />
      <wsdl:output message="tns:CouncilReportHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfPreAuthorization">
      <wsdl:input message="tns:ConfPreAuthorizationHttpPostIn" />
      <wsdl:output message="tns:ConfPreAuthorizationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsFornDistrib">
      <wsdl:input message="tns:ConsFornDistribHttpPostIn" />
      <wsdl:output message="tns:ConsFornDistribHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="komerci_captureSoap" type="tns:komerci_captureSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VoidPreAuthorization">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/VoidPreAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidDebtTransaction">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/VoidDebtTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/VoidTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransactionDistr">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/VoidTransactionDistr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidConfPreAuthorization">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/VoidConfPreAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized_AD">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/GetAuthorized_AD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/GetAuthorized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedAVS">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/GetAuthorizedAVS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReversalTxn">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/ReversalTxn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesSumm">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/SalesSumm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn_AD">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/ConfirmTxn_AD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/ConfirmTxn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CouncilReport">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/CouncilReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfPreAuthorization">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/ConfPreAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsFornDistrib">
      <soap:operation soapAction="http://ecommerce.redecard.com.br/ConsFornDistrib" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="komerci_captureSoap12" type="tns:komerci_captureSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VoidPreAuthorization">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/VoidPreAuthorization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidDebtTransaction">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/VoidDebtTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/VoidTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransactionDistr">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/VoidTransactionDistr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidConfPreAuthorization">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/VoidConfPreAuthorization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized_AD">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/GetAuthorized_AD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/GetAuthorized" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedAVS">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/GetAuthorizedAVS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReversalTxn">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/ReversalTxn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesSumm">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/SalesSumm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn_AD">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/ConfirmTxn_AD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/ConfirmTxn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CouncilReport">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/CouncilReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfPreAuthorization">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/ConfPreAuthorization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsFornDistrib">
      <soap12:operation soapAction="http://ecommerce.redecard.com.br/ConsFornDistrib" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="komerci_captureHttpGet" type="tns:komerci_captureHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="VoidPreAuthorization">
      <http:operation location="/VoidPreAuthorization" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidDebtTransaction">
      <http:operation location="/VoidDebtTransaction" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <http:operation location="/VoidTransaction" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransactionDistr">
      <http:operation location="/VoidTransactionDistr" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidConfPreAuthorization">
      <http:operation location="/VoidConfPreAuthorization" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized_AD">
      <http:operation location="/GetAuthorized_AD" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized">
      <http:operation location="/GetAuthorized" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedAVS">
      <http:operation location="/GetAuthorizedAVS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReversalTxn">
      <http:operation location="/ReversalTxn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesSumm">
      <http:operation location="/SalesSumm" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn_AD">
      <http:operation location="/ConfirmTxn_AD" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn">
      <http:operation location="/ConfirmTxn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CouncilReport">
      <http:operation location="/CouncilReport" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfPreAuthorization">
      <http:operation location="/ConfPreAuthorization" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsFornDistrib">
      <http:operation location="/ConsFornDistrib" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="komerci_captureHttpPost" type="tns:komerci_captureHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="VoidPreAuthorization">
      <http:operation location="/VoidPreAuthorization" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidDebtTransaction">
      <http:operation location="/VoidDebtTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransaction">
      <http:operation location="/VoidTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidTransactionDistr">
      <http:operation location="/VoidTransactionDistr" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidConfPreAuthorization">
      <http:operation location="/VoidConfPreAuthorization" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized_AD">
      <http:operation location="/GetAuthorized_AD" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorized">
      <http:operation location="/GetAuthorized" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedAVS">
      <http:operation location="/GetAuthorizedAVS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReversalTxn">
      <http:operation location="/ReversalTxn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesSumm">
      <http:operation location="/SalesSumm" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn_AD">
      <http:operation location="/ConfirmTxn_AD" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxn">
      <http:operation location="/ConfirmTxn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CouncilReport">
      <http:operation location="/CouncilReport" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfPreAuthorization">
      <http:operation location="/ConfPreAuthorization" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsFornDistrib">
      <http:operation location="/ConsFornDistrib" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="komerci_capture">
    <wsdl:port name="komerci_captureSoap" binding="tns:komerci_captureSoap">
      <soap:address location="https://ecommerce.redecard.com.br/pos_virtual/wskomerci/cap.asmx" />
    </wsdl:port>
    <wsdl:port name="komerci_captureSoap12" binding="tns:komerci_captureSoap12">
      <soap12:address location="https://ecommerce.redecard.com.br/pos_virtual/wskomerci/cap.asmx" />
    </wsdl:port>
    <wsdl:port name="komerci_captureHttpGet" binding="tns:komerci_captureHttpGet">
      <http:address location="https://ecommerce.redecard.com.br/pos_virtual/wskomerci/cap.asmx" />
    </wsdl:port>
    <wsdl:port name="komerci_captureHttpPost" binding="tns:komerci_captureHttpPost">
      <http:address location="https://ecommerce.redecard.com.br/pos_virtual/wskomerci/cap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>