BLL/Service References/ServiceOP/ServiceOP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11916/ServiceOP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OP.DTO.ClassesContrato" />
  <xs:element name="EmitirAutorizacaoCartaoCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplicacaoSolicitante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numPedido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPedido" type="xs:dateTime" />
        <xs:element minOccurs="0" name="valorTotal" type="xs:decimal" />
        <xs:element minOccurs="0" name="numParcelas" type="xs:int" />
        <xs:element minOccurs="0" name="numCartao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvc2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="ano" type="xs:int" />
        <xs:element minOccurs="0" name="portador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nomeCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cpfCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruaCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bairroCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cidadeCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ufCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cepCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitirAutorizacaoCartaoCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OP.DTO.ClassesContrato" minOccurs="0" name="EmitirAutorizacaoCartaoCreditoResult" nillable="true" type="q1:RetornoEmitirAutorizacaoCartaoCredito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitirBoleto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AplicacaoSolicitante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumPedido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataPedido" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ValorBoleto" type="xs:decimal" />
        <xs:element minOccurs="0" name="VencimentoBoleto" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DescontoAntecipacao" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="DataAntecipacao" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Juros" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="Multa" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="NomeSacado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CPFSacado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RuaSacado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BairroSacado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CidadeSacado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UFSacado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CEPSacado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Instrucoes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitirBoletoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OP.DTO.ClassesContrato" minOccurs="0" name="EmitirBoletoResult" nillable="true" type="q2:RetornoEmitirBoleto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstornoConfirmacaoCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplicacaoSolicitante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagamentoCartaoCreditoid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstornoConfirmacaoCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OP.DTO.ClassesContrato" minOccurs="0" name="EstornoConfirmacaoCreditoResult" nillable="true" type="q3:RetornoEstornoConfirmacaoCredito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>