BLL/Service References/ServiceOP/ServiceOP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceOP" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11916/ServiceOP.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11916/ServiceOP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11916/ServiceOP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OP.DTO.ClassesContrato" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceOP_EmitirAutorizacaoCartaoCredito_InputMessage">
    <wsdl:part name="parameters" element="tns:EmitirAutorizacaoCartaoCredito" />
  </wsdl:message>
  <wsdl:message name="IServiceOP_EmitirAutorizacaoCartaoCredito_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmitirAutorizacaoCartaoCreditoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOP_EmitirBoleto_InputMessage">
    <wsdl:part name="parameters" element="tns:EmitirBoleto" />
  </wsdl:message>
  <wsdl:message name="IServiceOP_EmitirBoleto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmitirBoletoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOP_EstornoConfirmacaoCredito_InputMessage">
    <wsdl:part name="parameters" element="tns:EstornoConfirmacaoCredito" />
  </wsdl:message>
  <wsdl:message name="IServiceOP_EstornoConfirmacaoCredito_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstornoConfirmacaoCreditoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceOP">
    <wsdl:operation name="EmitirAutorizacaoCartaoCredito">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOP/EmitirAutorizacaoCartaoCredito" message="tns:IServiceOP_EmitirAutorizacaoCartaoCredito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOP/EmitirAutorizacaoCartaoCreditoResponse" message="tns:IServiceOP_EmitirAutorizacaoCartaoCredito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmitirBoleto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOP/EmitirBoleto" message="tns:IServiceOP_EmitirBoleto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOP/EmitirBoletoResponse" message="tns:IServiceOP_EmitirBoleto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EstornoConfirmacaoCredito">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOP/EstornoConfirmacaoCredito" message="tns:IServiceOP_EstornoConfirmacaoCredito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOP/EstornoConfirmacaoCreditoResponse" message="tns:IServiceOP_EstornoConfirmacaoCredito_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceOP" type="tns:IServiceOP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmitirAutorizacaoCartaoCredito">
      <soap:operation soapAction="http://tempuri.org/IServiceOP/EmitirAutorizacaoCartaoCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirBoleto">
      <soap:operation soapAction="http://tempuri.org/IServiceOP/EmitirBoleto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstornoConfirmacaoCredito">
      <soap:operation soapAction="http://tempuri.org/IServiceOP/EstornoConfirmacaoCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceOP">
    <wsdl:port name="BasicHttpBinding_IServiceOP" binding="tns:BasicHttpBinding_IServiceOP">
      <soap:address location="http://localhost:11916/ServiceOP.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>