BLL/Service References/OctopusSGAService/OctopusSGA1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://servdesenv2/Octopus/integracaosga/OctopusSGA.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://servdesenv2/Octopus/integracaosga/OctopusSGA.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Opus.Octopus.IntegracaoSGA" />
  <xs:element name="ObterNaturezasEvento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterNaturezasEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObterNaturezasEventoResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirEventoCRM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDUnidade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataEvento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NaturezaEvento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DescricaoEvento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirEventoCRMResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDUnidade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CPFAluno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDContrato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataVenda" type="xs:dateTime" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Opus.Octopus.IntegracaoSGA" minOccurs="0" name="CondicaoPagamento" nillable="true" type="q2:ArrayOfParcela" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarVendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDUnidade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CPFAluno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDContrato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDContratoTurmaCancelado" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Opus.Octopus.IntegracaoSGA" minOccurs="0" name="TipoAcerto" type="q3:TipoAcerto" />
        <xs:element minOccurs="0" name="ValorAcerto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarVendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarRepasseLFG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDUnidade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDUsuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Opus.Octopus.IntegracaoSGA" minOccurs="0" name="ChequesAluno" nillable="true" type="q4:ArrayOfCheque" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Opus.Octopus.IntegracaoSGA" minOccurs="0" name="ChequeUnidade" nillable="true" type="q5:ArrayOfCheque" />
        <xs:element minOccurs="0" name="ValorDeposito" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarRepasseLFGResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>