BLL/Service References/OctopusSGAService/OctopusSGA2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Opus.Octopus.IntegracaoSGA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Opus.Octopus.IntegracaoSGA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParcela">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parcela" nillable="true" type="tns:Parcela" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParcela" nillable="true" type="tns:ArrayOfParcela" />
  <xs:complexType name="Parcela">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cheque" nillable="true" type="tns:Cheque" />
      <xs:element minOccurs="0" name="DataParcela" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormaPagamento" type="tns:EnumFormaPagamento" />
      <xs:element minOccurs="0" name="NomeParcela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParcelaPaga" type="xs:boolean" />
      <xs:element minOccurs="0" name="Promissoria" nillable="true" type="tns:Promissoria" />
      <xs:element minOccurs="0" name="ValorParcela" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parcela" nillable="true" type="tns:Parcela" />
  <xs:complexType name="Cheque">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Banco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correntista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataBomPara" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Identificador" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroCheque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cheque" nillable="true" type="tns:Cheque" />
  <xs:simpleType name="EnumFormaPagamento">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="EnumFormaPagamento" nillable="true" type="tns:EnumFormaPagamento" />
  <xs:complexType name="Promissoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroPromissoria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Promissoria" nillable="true" type="tns:Promissoria" />
  <xs:simpleType name="TipoAcerto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Multa" />
      <xs:enumeration value="Devolucao" />
      <xs:enumeration value="SemAcerto" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoAcerto" nillable="true" type="tns:TipoAcerto" />
  <xs:complexType name="ArrayOfCheque">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cheque" nillable="true" type="tns:Cheque" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheque" nillable="true" type="tns:ArrayOfCheque" />
</xs:schema>